{% extends "crud/base.html" %}
{% load static %}
{% block titleblock %}
	search item
{% endblock titleblock %}
{% block msg %}
	
{% endblock msg %}

{% block content %}
<h1 class="bg-secondary text-center text-white my-4 rounded-pill py-3"> all items here</h1>
	<div class="row">
		<div class="col-md-10 offset-1 mt-1">
			{% if all_post %}
			<table class="table table-hover table-dark">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">NAME</th>
			      <th scope="col">EMAIL</th>
			      <th scope="col">P.I</th>
			      <th scope="col">ADD TIME</th>

			    </tr>
			  </thead>
			  <tbody>
			  	{% for fin in all_post%}
			    <tr>
			      <th scope="row">1</th>
			      <td>{{fin.id}}</td>
			      <td>{{fin.name}}</td>
			      <td>{{fin.email}}</td>
			      <td>{{fin.phone}}</td>
			      <td>{{fin.date_time}}</td>
			    </tr>
			    
			    
			  </tbody>
			  {% endfor %}
			</table>
			{% else %}
			no data
			{% endif %}
		</div>
	</div>
{% endblock content %}